.custom-table {
  width: 100%;
  margin-top: 20px;
  table-layout: fixed; 
  border-radius: 8px; 
  overflow: hidden; 
}
.custom-table th,
.custom-table td {
  text-align: center;
  padding: 8px 5px;
  font-size: 0.85em;
  line-height: 1.2;
}

.custom-table-head th {
  font-weight: bold; 
  font-size: 0.8em; 
  color: #64748B; 
  text-transform: uppercase;
}

.custom-table td {
  background-color: #fff;
}

.circleContainer {
  position: relative;
  width: 30px; 
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

.circleIcon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.deleteIcon {
  position: absolute;
  width: 12px; 
  height: 12px;
}

.custom-select {
  width: 120px; 
  height: 30px; 
  font-size: 0.85em; 
  border-radius: 2px; 
  
}

.custom-textfield .MuiInputBase-input {
  height: 100%; 
  font-size: 0.85em; 
  padding: 7px; 
  border: 1px solid #ebecef;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 938px;
}

.custom-checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #64748B;
  border-radius: 20%;
  background-color: #fff;
}

.custom-checkbox-checked-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 20%;
  background-color: #1976d2;
}
.question-text {
  color: #226DB4; /* Blue color */
}